* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  width: 100%;
  height: 10vh;
  padding: 0 5vw;
  background: #fdfdfd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #34495e;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #7f8c8d;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #18a1fcd4;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user {
  color: #0e92eb;
  background: #e3f2fd;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}
/* hamburger menu */
.menu-btn {
  display: none;
  border: none;
  background: none;
  font-size: 25px;
  cursor: pointer;
  position: relative;
}
/* SLIDE MENU */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.3s all ease-in-out;
}

/* SHOW MENU */
.menu-btn:focus .mobile-menu {
  right: 0;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 90vh;
  padding: 27px 10px 152px 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero-content {
  width: 40%;
}

.hero-content h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: #2c3e50;
  margin-bottom: 20px;
}

.hero-content span {
  color: #32a4f0;
}

.hero-content p {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
}

.btn {
  background: #32a4f0;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn:hover {
  background: red;
  transform: translateY(-5px) scale(1.1);
  transition: all 0.3s;
  box-shadow: 0 5px 15px rgba(249, 13, 13, 0.9);
  cursor: pointer;
  border-radius: 12px;
}

.hero-img {
  width: 50%;
}

.hero-img img {
  width: 100%;
  max-width: 400px;
}

/* Tablet Responsive */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    font-size: 25px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .hero {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    height: auto;
    padding: 10px 68px 40px 20px;
  }

  .user {
    font-size: 14px;
    padding: 6px 14px;
  }

  .hero-content {
    width: 50%;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .hero-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.4;
  }

  .hero-img {
    width: 50%;
  }

  .hero-img img {
    width: 100%;
    height: 100%;
  }

  .btn {
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 15px;
  }
}

/* Mobile Responsive */
@media (max-width: 600px) {
  body {
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
  }

  nav ul {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .hero {
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    height: auto;
    padding: 15px 50px 40px 15px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-img {
    width: 75%;
  }

  .hero-img img {
    width: 100%;
  }

  .hero-content h1 {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .hero-content p {
    line-height: 1.5;
    font-size: 11px;
  }

  .btn {
    padding: 15px 25px;
    font-size: 12px;
  }
}
